.ant-menu-dark .ant-menu-item-selected {
  background-color: #1890ff !important;
  color: white !important;
}

/* Màu nền khi hover */
.ant-menu-dark .ant-menu-item:hover {
  background-color: #40a9ff !important;
  color: white !important;
}